*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-spartan: 'Spartan', sans-serif;
  --ff-antonio: 'Antonio', sans-serif;
  --tt-title: uppercase;
  --fs-title-antonio: 5rem;
  --fs-subtitle-anotonio: 2.5rem;
  --fs-title-spartan: 0.75rem;
  --fs-subtitle-spartan: 0.6875rem;
  --fs-text: 0.875rem;
  --fw-title-subtitle-antonio: 400;
  --fw-title-subtitle-spartan: 700;
  --fw-text: 400;
  --lh-title-antonio: 6.4375rem;
  --lh-subtitle-antonio: 3.25rem;
  --lh-title-subtitle-spartan: 1.5625rem;
  --lh-buttons: 1.5625rem;
  --lh-text: 1.5625rem;
  --ls-subtitle-antonio: -0.09375rem;
  --ls-title-spartan: 0.1625rem;
  --ls-subtitle-spartan: 0.0625rem;
  --bg-mercury: hsla(194, 48%, 50%, 1);
  --bg-venus: hsla(33, 82%, 61%, 1);
  --bg-earth: hsla(263, 66%, 51%, 1);
  --bg-mars: hsla(10, 63%, 51%, 1);
  --bg-jupiter: hsla(2, 68%, 53%, 1);
  --bg-saturn: hsla(17, 73%, 46%, 1);
  --bg-uranus: hsla(168, 73%, 44%, 1);
  --bg-neptune: hsla(222, 87%, 56%, 1);
}

body {
  font-family: var(--ff-spartan);
  color: hsla(0, 0%, 100%, 1);
  background: center / cover no-repeat url(../../assets/background-stars.svg) hsla(240, 67%, 8%, 1);
}

body button {
  font-family: var(--ff-spartan);
  color: #ffffff;
}

@media (width <= 48em) {
  :root {
    --fs-title-antonio: 3rem;
    --fs-text: 0.6875rem;
    --fs-title-spartan: 0.5625rem;
    --lh-title-antonio: 3.875rem;
    --lh-text: 1.375rem;
    --ls-title-spartan: 0.12rem;
  }
}

@media (width < 48em) {
  :root {
    --fs-subtitle-spartan: 0.9875rem;
    --ls-subtitle-spartan: 0.085rem;
  }
}

@media (width < 25em) {
  :root {
    --fs-title-antonio: 2.5rem;
    --lh-title-antonio: 3.235rem;
    --lh-buttons: 0.625rem;
  }
}
