*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-spartan: 'Spartan', sans-serif;
  --ff-antonio: 'Antonio', sans-serif;

  --tt-title: uppercase;

  --fs-header-title: 2.5rem;
  --fs-header-nav: 0.6875rem;
  --fs-main-title: 5rem;
  --fs-main-buttons: 0.75rem;
  --fs-main-text: 0.875rem;
  --fs-footer-text: 0.6875rem;
  --fs-footer-value: 2.5rem;

  --fw-antonio: 400;
  --fw-spartan: 700;
  --fw-main-title-text: 400;

  --lh-header-title: 3.25rem;
  --lh-header-nav-main-link: 1.5625rem;
  --lh-main-title: 6.4375rem;
  --lh-main-text: 1.5625rem;
  --lh-main-buttons: 1.5625rem;
  --lh-footer-text: 1rem;
  --lh-footer-value: 3.235rem;

  --ls-header-title: -0.09375rem;
  --ls-header-nav: 0.0625rem;
  --ls-main-buttons: 0.1625rem;
  --ls-footer-text: 0.045rem;
  --ls-footer-value: -0.09375rem;

  --bg-mercury: hsla(194, 48%, 50%, 1);
  --bg-venus: hsla(33, 82%, 61%, 1);
  --bg-earth: hsla(263, 66%, 51%, 1);
  --bg-mars: hsla(10, 63%, 51%, 1);
  --bg-jupiter: hsla(2, 68%, 53%, 1);
  --bg-saturn: hsla(17, 73%, 46%, 1);
  --bg-uranus: hsla(168, 73%, 44%, 1);
  --bg-neptune: hsla(222, 87%, 56%, 1);
}

body {
  font-family: var(--ff-spartan);
  color: hsla(0, 0%, 100%, 1);
  background: center / cover no-repeat url(../../assets/background-stars.svg) hsla(240, 67%, 8%, 1);
}

body button {
  font-family: var(--ff-spartan);
  color: #ffffff;
}

@media (max-width: 1120px) {
  :root {
    --fs-footer-text: 0.5rem;
    --fs-footer-value: 1.5rem;
    --lh-footer-text: 1rem;
    --lh-footer-value: 1.93rem;
    --ls-footer-text: 0.045rem;
    --ls-footer-value: -0.05rem;
  }
}

@media (max-width: 767px) {
  :root {
    --fs-main-title: 3rem;
    --fs-main-text: 0.6875rem;
    --fs-main-buttons: 0.5625rem;
    --fs-header-nav: 0.9875rem;

    --lh-main-title: 3.875rem;
    --lh-text: 1.375rem;
    --ls-main-buttons: 0.12rem;
    --ls-header-nav: 0.085rem;
  }
}

@media (max-width: 400px) {
  :root {
    --fs-main-title: 2.5rem;
    --lh-main-title: 3.235rem;
    --lh-main-buttons: 0.625rem;
  }
}
