main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto 1.68rem auto;
}

.image {
  width: 100%;
  min-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__geology {
  position: absolute;
  max-width: 158px;
  left: 0;
  right: 0;
  top: 65%;
  margin: 0 auto;
  opacity: 1;
  animation: zoom 1s linear;
}
@keyframes zoom {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  width: 22rem;
  display: flex;
  flex-direction: column;
  flex: none;
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.description__title {
  font-family: var(--ff-antonio);
  font-size: var(--fs-main-title);
  font-weight: var(--fw-main-title-text);
  text-transform: var(--tt-title);
  line-height: var(--lh-main-title);
}

.description__text {
  min-height: 170px;
  margin-top: 1.5rem;
  font-size: var(--fs-main-text);
  font-weight: var(--fw-main-title-text);
  line-height: var(--lh-main-text);
}

.description__source {
  display: flex;
  gap: 0.5rem;
  font-size: var(--fs-main-text);
  font-weight: var(--fw-main-title-text);
  line-height: var(--lh-header-nav-main-link);
  color: hsla(0, 0%, 100%, 0.5);
}

.description__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--fw-spartan);
  color: hsla(0, 0%, 100%, 0.5);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  counter-reset: count 0;
}

.categories__buttons {
  padding: 1em 0;
  text-align: left;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  background-color: transparent;
  font-size: var(--fs-main-buttons);
  font-weight: var(--fw-spartan);
  line-height: var(--lh-main-buttons);
  letter-spacing: var(--ls-main-buttons);
  text-transform: var(--tt-title);
  cursor: pointer;
  transition: 0.4s;
}

.categories__buttons:hover {
  background: hsla(0, 0%, 85%, 0.2);
}

.categories__buttons::before {
  counter-increment: count 1;
  content: counter(count, decimal-leading-zero);
  margin: 0 1.75rem;
}

.categories__buttons.active {
  position: relative;
  overflow: hidden;
}

.categories__styled-buttons.active {
  position: absolute;
  width: 350px;
  height: 350px;
  top: -160px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  animation: slideTop 2.5s linear;
  z-index: -1;
}
@keyframes slideTop {
  from {
    top: -90px;
  }

  to {
    top: -160px;
  }
}
.categories__styled-buttons.active::before,
.categories__styled-buttons.active::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 50%;
  transform: translate(-50%, -76%);
}

.categories__styled-buttons.active::before {
  border-radius: 45%;
  background: hsla(240, 67%, 8%, 1);
  animation: animate 11s linear infinite;
}

.categories__styled-buttons.active::after {
  border-radius: 41%;
  background: hsla(240, 67%, 8%, 0.5);
  animation: animate 11s linear infinite;
}

@keyframes animate {
  from {
    transform: translate(-50%, -76%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -76%) rotate(360deg);
  }
}

.categories__styled-buttons-mercury.active {
  background: var(--bg-mercury);
}
.categories__styled-buttons-venus.active {
  background: var(--bg-venus);
}
.categories__styled-buttons-earth.active {
  background: var(--bg-earth);
}
.categories__styled-buttons-mars.active {
  background: var(--bg-mars);
}
.categories__styled-buttons-jupiter.active {
  background: var(--bg-jupiter);
}
.categories__styled-buttons-saturn.active {
  background: var(--bg-saturn);
}
.categories__styled-buttons-uranus.active {
  background: var(--bg-uranus);
}
.categories__styled-buttons-neptune.active {
  background: var(--bg-neptune);
}

@media (width < 80em) {
  main {
    width: 95%;
  }
}

/***** Tablet *****/
@media (width <= 70em) {
  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .image {
    display: flex;
    align-items: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  .description {
    width: 50%;
    margin-bottom: 0;
  }

  .description__text {
    min-height: 200px;
  }

  .categories {
    width: 50%;
    align-self: center;
  }

  .categories__styled-buttons.active {
    height: 100%;
    width: 100%;
    top: 0;
    box-shadow: none;
    animation: none;
  }

  .categories__styled-buttons.active::before,
  .categories__styled-buttons.active::after {
    display: none;
  }
}

@media (width <= 48rem) {
  .description__text {
    min-height: 140px;
  }
}

/***** Mobile *****/
@media (width < 48rem) {
  main {
    position: relative;
    width: 100%;
  }

  .categories {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 24px;
    gap: 1.625rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }

  .categories__buttons {
    position: relative;
    padding: 2.22em 0;
    border: none;
    background-color: transparent;
  }

  .categories__buttons:hover {
    background: transparent;
  }

  .categories__buttons::before {
    display: none;
  }

  .categories__buttons::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s ease;
  }

  .categories__buttons.active {
    background-color: transparent;
  }

  .categories__buttons.active::after {
    width: 100%;
  }

  .categories__buttons-mercury.active::after {
    background: var(--bg-mercury);
  }

  .categories__buttons-venus.active::after {
    background: var(--bg-venus);
  }

  .categories__buttons-earth.active::after {
    background: var(--bg-earth);
  }

  .categories__buttons-mars.active::after {
    background: var(--bg-mars);
  }

  .categories__buttons-jupiter.active::after {
    background: var(--bg-jupiter);
  }

  .categories__buttons-saturn.active::after {
    background: var(--bg-saturn);
  }

  .categories__buttons-uranus.active::after {
    background: var(--bg-uranus);
  }

  .categories__buttons-neptune.active::after {
    background: var(--bg-neptune);
  }

  .categories__styled-buttons.active {
    display: none;
  }

  .image {
    width: 100%;
    min-height: 256px;
    padding: 0 24px;
    margin: 1.5rem 0;
  }

  .image__planet-mercury {
    max-width: 111px;
  }
  .image__planet-venus {
    max-width: 154px;
  }
  .image__planet-earth {
    max-width: 173px;
  }
  .image__planet-mars {
    max-width: 129px;
  }
  .image__planet-jupiter {
    max-width: 224px;
  }
  .image__planet-saturn {
    max-width: 256px;
  }
  .image__planet-uranus {
    max-width: 176px;
  }
  .image__planet-neptune {
    max-width: 173px;
  }

  .image__geology {
    max-width: 80px;
    top: 65%;
  }

  .content {
    padding: 0 24px;
  }

  .description {
    width: 100%;
    gap: 0;
    text-align: center;
  }

  .description__text {
    margin-top: 1rem;
  }

  .description__source {
    justify-content: center;
  }
}

/*****Disable animations if user activates animation reducer*****/
@media (prefers-reduced-motion: reduce) {
  .categories__styled-buttons.active {
    animation: none;
  }

  .categories__styled-buttons.active::before,
  .categories__styled-buttons.active::after {
    animation: none;
  }
}
